POLYEDGE_OCI_QUEUE_BRIDGE_HOST=10.89.0.1
POLYEDGE_OCI_QUEUE_BRIDGE_PORT=8182
POLYEDGE_OCI_QUEUE_PRODUCER_IP=10.89.0.248
POLYEDGE_OCI_QUEUE_SIGNER_IP=10.89.0.250
POLYEDGE_OCI_QUEUE_ID=ocid1.queue.oc1.sa-bogota-1.amaaaaaa6l3pyfiagnqqrqzkvroitm2nxsrmu5fk5upqt6tu7h54h4glhabq
POLYEDGE_OCI_QUEUE_ENDPOINT=https://cell-1.queue.messaging.sa-bogota-1.oci.oraclecloud.com
POLYEDGE_OCI_OBJECT_NAMESPACE=axl4ryaas895
POLYEDGE_OCI_DLQ_BUCKET=polyedge-shadow-events
